@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.card {
	margin: 20px 40px 20px 40px;
}

#place_list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#card-border {
	width: 100rem;
	text-align: center;
}

.card-frame {
	display: inline-block;
	margin: 2rem 2rem 2rem 2rem;
	transition: transform 0.8s;
}

.card-frame:hover {
	transform: scale(1.05);
}

.card-img-top {
	height: 20rem;
}

.card-img-top:hover {
	cursor: pointer;
}

.pets-icons {
	height: 2rem;
	width: 2rem;
	margin-right: 1rem;
}

.card-link:hover {
	cursor: pointer;
	color: pink;
	transition: color 0.8s;
	color: pink;
}

img[class="d-block w-100"] {
	width: 30rem;
	height: 35rem;
}

.place {
	font-size: 3.5rem;
	font-weight: bold;
}

.text_contents {
	font-family: 'Cute Font', cursive;
	font-size: 1.8rem;
}

div[class="ui divider1"] {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.comments_frame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

div[class="ui big comments"] {
	font-size: 2rem;
}

.profile_img {
	width: 40px;
	height: 40px;
}

.comment {
	width: 40rem;
}

.comment .content {
	position : relative;
	width : 45rem;
	padding-left: 3rem;
	padding-right : 0;
	text-align: left;
}

#review_nodata {
	margin: 1rem 2rem 2rem 2rem;
}

.text {
	width : 35rem;
	padding-left: 4rem;
}

#ctrlBtnGroup{
	position : absolute;
	top : 1.2rem;
	right : -0.5rem;
}

#rvsBtn, #dltBtn {
	margin : 0.5rem;
}

#cntNum_frame {
	display: inline-block;
	position: absolute;
	left: 0.8rem;
}

#sub-footer {
	text-align: left;
}
#select_rating{
	margin-right:  0.7rem;
}


.review_textarea{
	font-size: 1.5rem;
} 

