<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BookingDAO">

	<!-- 게시글 조회 -->
	<select id="selectList_board" parameterType="String" resultType="vo.VisitVo">
		select idx, board_idx, user_id, user_pw, user_name, create_date, user_profile, b_title, b_content, b_write_date
		from view_board order by idx desc
	</select>



	<!-- 회원가입 -->
	<select id="insert_info" parameterType="Hashmap" resultType="int">
		insert into visit_user(idx,user_id,user_pw,user_name,create_date,user_profile)
		values (SEQ_VISIT_USER_IDX.nextval, #{user_id}, #{user_pw}, #{user_name} , '21.07.15 / 13 : 30' , 'user' )
	</select>



</mapper>