<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="dao.StaffDAO"> -->
<mapper namespace="com.Staff.dao.StaffDAO">


	<!-- 휴가 처리하기창 -->
	<select id="select_vacation" parameterType="int"
		resultType="com.Staff.dto.StaffVO">
		select * from request_vacation where num_vacation =
		#{num_vacation}
	</select>
	<!-- 초과근무 처리하기창 -->
	<select id="select_timeover" parameterType="int"
		resultType="com.Staff.dto.StaffVO">
		select * from request_timeover where num_timeover =
		#{num_timeover}
	</select>
	<!-- 휴가 신청내역불러오기 (이건 신청날짜 정렬) -->
	<select id="search_vacation" parameterType="String"
		resultType="com.Staff.dto.StaffVO">
		select * from request_vacation where user_nick_vacation
		=#{value}
	</select>
	<select id="search_timeover" parameterType="String"
		resultType="com.Staff.dto.StaffVO">
		select * from request_timeover where user_nick_timeover
		=#{value}
	</select>
	<select id="search_staff" parameterType="String"
		resultType="com.Staff.dto.StaffVO">
		select * from user_info where user_nick =#{user_nick}
	</select>
	<select id="load_total_timeover" parameterType="staff"
		resultType="com.Staff.dto.StaffVO">
		select * from request_timeover order by date_timeover desc
	</select>
	<!-- 휴가 신청내역불러오기 (이건 신청순서대로 정렬) -->
	<select id="load_total_vacation" parameterType="staff"
		resultType="com.Staff.dto.StaffVO">
		select * from request_vacation order by num_vacation desc
	</select>
	<select id="load_staffmember" parameterType="staff"
		resultType="com.Staff.dto.StaffVO">
		select * from user_info where user_auth=2 or user_auth=3
	</select>

	<select id="load_timeover" parameterType="String"
		resultType="com.Staff.dto.StaffVO">
		select * from request_timeover where user_email_timeover
		=#{value} order by num_timeover desc
	</select>
	<select id="load_vacation" parameterType="String"
		resultType="com.Staff.dto.StaffVO">
		select * from request_vacation where user_email_vacation
		=#{value} order by num_vacation desc
	</select>

	<insert id="start_timeover" parameterType="staff">
		merge into
		request_timeover using dual
		on(user_email_timeover=#{user_email_timeover} and
		check_timeover='진행중') when not matched
		then insert
		values(request_timeover_seq.NEXTVAL,#{user_nick_timeover},#{user_email_timeover},
		TO_CHAR(sysdate, 'HH24:MI'),TO_CHAR(sysdate,
		'HH24:MI'),TO_CHAR(sysdate, 'YYYY/MM/DD'),#{reason_timeover},'진행중')
	</insert>
	<update id="end_timeover" parameterType="staff">
		<!-- merge into -->
		<!-- request_timeover using dual on(user_email_timeover -->
		<!-- =#{user_email_timeover}) when matched then update set check_timeover -->
		<!-- ='대기' where user_email_timeover=#{user_email_timeover} and -->
		<!-- check_timeover='진행중' -->
		merge into
		request_timeover using dual on(user_email_timeover
		=#{user_email_timeover}) when matched then update set check_timeover
		='대기', end_timeover
		=to_char(sysdate,'hh24:mi') where
		user_email_timeover=#{user_email_timeover} and
		check_timeover='진행중'
	</update>
	<update id="result_vacation" parameterType="staff">
		update
		request_vacation set
		check_vacation = #{check_vacation} where
		num_vacation=#{num_vacation}
	</update>
	<update id="result_timeover" parameterType="staff">
		update
		request_timeover set
		check_timeover = #{check_timeover} where
		num_timeover=#{num_timeover}
	</update>
	<update id="change_staff_val" parameterType="staff">
		update user_info set
		user_auth = #{user_auth} where user_email=#{user_email}
	</update>
	<insert id="after_request_timeover" parameterType="staff">
		insert into
		request_timeover
		values(request_timeover_seq.NEXTVAL,#{user_nick_timeover},
		#{user_email_timeover},#{start_timeover},#{end_timeover},
		#{date_timeover},#{reason_timeover},'대기')
	</insert>
	<insert id="request_vacation" parameterType="staff">
		insert into
		request_vacation
		values(request_vacation_seq.NEXTVAL,#{user_nick_vacation},#{user_email_vacation},
		#{start_vacation},#{end_vacation},#{reason_vacation},#{val_vacation},'신청완료')
	</insert>
	<insert id="insert_staff" parameterType="staff">
		merge into
		user_info
		using dual on(user_email
		=#{user_email}) when not
		matched then insert
		values(#{user_email},#{user_nick},#{user_pwd},#{user_auth})
	</insert>

	<!-- 숫자세는 현장 -->
	<select id="count_total_user" resultType="int">
		select count(*) from
		(select user_email from user_info union all select
		user_email from
		kakao_info)
	</select>
	<select id="count_end_user" resultType="int">
		select count(*) from
		user_info where user_auth=1
	</select>
	<select id="count_busi_user" resultType="int">
		select count(*) from
		user_info where user_auth=2
	</select>
	<select id="count_total_post" resultType="int">
		select count(*) from
		(select num_media from media_upload union all select board_idx from
		community_board union all select PLACE_LIST_IDX from place_list)
	</select>
	<select id="count_total_media" resultType="int">
		select count(*) from
		media_upload
	</select>
	<select id="count_total_community" resultType="int">
		select count(*)
		from community_board
	</select>

</mapper>