<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="dao.StaffDAO"> -->
<mapper namespace="com.media.dao.mediaDAO">
	<select id="load_medialist" parameterType="media"
		resultType="com.media.dto.mediaVO">
		select * from request_timeover order by date_timeover desc
	</select>
</mapper>