<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BookingDAO">

	<!-- 카테고리별 장소 목록 -->
	<select id="selectPlace_List" parameterType="String" resultType="com.health.dto.HealthPlaceVo">
		select * from view_place where field = #{key}
	</select>

</mapper>