table {
	width: 80%;
	height: 0px;
	margin: auto;
}
.form-select{
	width: 80%; 
	float:none; 
	margin:0 auto;
}

.mb-3{
	 margin-top: 0 !important;
	 margin-bottom: 0 !important;
	 margin-left: 0 !important;
	 margin-right: 10 !important;
 	 height: 36px;
 	 width: 400px;	 
}

span{
	width:120;
}
